.header-main {
    font-weight: 600;
    text-transform: none;
    font-size: 1rem;
}

.navbar-dark {
    background-color: transparent;
    transition: all 0.2s;
}

.navbar-light {
    background-color: #fff;
    transition: all 0.2s;
}

.logo-dark, .logo-light {
    display: none;
}

.navbar-dark .logo-light {
    display: block;
}

.navbar-light .logo-dark {
    display: block;
}

.navbar-dark .btn-login {
    border: 1px solid #fff;
    color: #fff;
}

.navbar-light .btn-login {
    color: #fff;
    background: #1162C8 !important;
    background: -webkit-linear-gradient(right, #1572e8, #1162C8) !important;
    background: linear-gradient(right, #1572e8, #1162C8) !important;
}

.navbar-light .navbar {
    box-shadow: 0 1rem 1rem rgba(20, 20, 50, 0.2);
}

.navbar-nav .nav-link {
    transition: all 0.2s;
}

.navbar-dark .navbar .navbar-nav .nav-item .nav-link {
    color: #fff;
    opacity: 0.5;
}

.navbar-dark .navbar .navbar-nav .nav-item .nav-link.active {
    opacity: 1;
}

.navbar-dark .navbar .navbar-nav .nav-item .nav-link:not(.active):hover {
    opacity: 0.75;
}

.navbar-light .navbar .navbar-nav .nav-item .nav-link.active {
    position: relative;
    color: #1163CB;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
}

.navbar-light .navbar-toggler {
    border: 0 !important;
}

.navbar .extra-menu .btn {
    line-height: 35px;
    padding-left: 20px;
    padding-right: 20px;
}

@media (max-width: 991px) {
    .navbar-light .navbar .navbar-nav .nav-item .nav-link.active {
        border-left: 4px solid #1572e8;
        background-color: #f0f0f0;
    }
}
@media (min-width: 992px) {
    .header-main .navbar-expand-lg .navbar-nav > .nav-item > .nav-link {
        line-height: 40px;
    }

    .navbar-light .navbar .navbar-nav .nav-item .nav-link:after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: -9px;
        width: 0;
        height: 3px;
        margin: auto;
        background-color: #1163CB;
        border-radius: 5px;
    }

    .navbar-light .navbar .navbar-nav .nav-item .nav-link.active:after {
        width: 100%;
        transition: all 0.2s;
    }
}

.section {
    background-color: #ffffff;
    padding-top: 6rem;
    padding-bottom: 10rem;
}

.section-dark {
    background-color: #f1f6fd;
    padding-top: 6rem;
    padding-bottom: 10rem;
}

.sep-ld {
    background-image: url('/assets/img/separator-ld.svg');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.sep-dl {
    background-image: url('/assets/img/separator-dl.svg');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100% auto;
}

#home {
    background: #1162C8 !important;
    background: -webkit-linear-gradient(right, #07397B, #1162C8) !important;
    background: linear-gradient(right, #07397B, #1162C8) !important;
}

#contact {
    background-color: #01459d;
    background-image: url('/assets/img/contact-bg.png');
    padding-top: 8rem;
    padding-bottom: 8rem;
}

.home-background {
    background-image: url('/assets/img/home-bg.png');
    height: 100vh;
}

.home-background img {
    width: 100%;
    max-height: calc(100vh - 20px);
    opacity: 0.6;
    transition: all 0.25s;
    margin-top: 20px;
}
.home-background img:hover {
    opacity: 1;
    margin-top: 0;
}

.min-vh-100 {
    min-height: 100vh;
}

.jarallax {
    position: relative;
    z-index: 0;
}

.jarallax > .jarallax-img {
    position: absolute;
    object-fit: cover;
    font-family: 'object-fit: cover;';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.underline {
    position: relative;
}

.underline::after {
    right: 0;
    margin: auto;
    width: 100px;
    height: 2px;
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
}

.after-primary::after {
    background-color: #0c4da1;
}
.after-white::after {
    background-color: #fff;
}

.footer {
    background-color: #101010;
    color: #eeeeee;
    padding-top: 2rem;
    padding-bottom: 1.5rem;
}

.footer-bottom {
    border-top: 1px solid #323232;
    color: #767676;
    padding-top: 16px;
}

.footer-logo {
    opacity: 0.5;
}

@media (min-width: 1400px) {
    .container {
        max-width: 1320px;
    }
}

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.9);
    z-index: 99999; }

.preloader .spinner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: inline-block;
    width: 2rem;
    height: 2rem;
    vertical-align: text-bottom;
    border: 0.25em solid #0c4ea3;
    border-right-color: transparent;
    border-radius: 50%;
    animation: 0.75s linear infinite spinner;
}

@keyframes spinner {
    to { transform: rotate(360deg) /* rtl:ignore */; }
}

.sr-only {
    border: 0;
    clip: rect(0,0,0,0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.mt--6 {
    margin-top: -6rem;
}

.icon-primary {
    color: #ffffff;
    background-color: #03c;
}

a.icon-primary:hover {
    color: #ffffff;
    background-color: #002699;
    text-decoration: none;
}

.icon-disabled {
    color: #cccccc;
    background-color: #3e3c3a;
    opacity: 0.5;
    pointer-events: none;
}

.icon-sm {
    width: 2rem !important;
    height: 2rem !important;
}

.icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
    width: 3rem;
    height: 3rem;
}

.rounded-circle {
    border-radius: 50% !important;
}

.me-1 {
    margin-right: 0.25rem !important;
}

.font-w-700 {
    font-weight: 700;
}

.pt-6 {
    padding-top: 2.5rem !important;
}

.mt-n4 {
    margin-top: -2rem !important;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    line-height: 1.2;
    color: #171347;
}

.footer h6 {
    color: #cecece;
}

.feature i {
    width: 100px;
    height: 100px;
    line-height: 100px;
    border-radius: 5px;
    color: #edf0f4 !important;
    background: #1162C8 !important;
    background: -webkit-linear-gradient(right, #07397B, #1162C8) !important;
    background: linear-gradient(right, #07397B, #1162C8) !important;
    font-size: 3rem;
}

.footer a {
    color: #909090;
    line-height: 2rem;
    font-size: 0.9rem;
}

.feature p {
    font-size: 15px;
    opacity: 0.9;
}

label {
    color: #e0e0e0;
    font-weight: lighter;
}

.avatar {
    width: 245px;
    height: 245px;
    z-index: 1;
    border-radius: 50%;
    border: 10px solid #ffffff;
    position: relative;
    box-shadow: 0 3px 10px 0 rgba(38, 59, 94, 0.1);
    overflow: hidden;
    display: inline-block;
}

.avatar img {
    width: 100%;
    max-width: 100%;
    vertical-align: middle;
    background: #f1f6fd;
}